body {
    background-color: #EBF7E3 !important;
}

#header {
    height: 48px;
    width: 100%;
    margin: auto;
    padding: auto;

    border: 8px none #375F1B;
    border-left-style: solid;

    align-content: center;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #1B3409;
    align-content: center;
}

#footer h4 {
    color: #9BD770;
    padding-left: 10px;
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1px;
    overflow: hidden;
    background-color: #9BD770
}

#navBar li {
    float: left;
}

#navBar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 130px;
}

#navBar li a:hover {
    background-color: #375F1B;
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
}

#calendarDiv {
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0 auto;
    width: 70%;
    height: 600px;
    align-items: center;
}

#calendar {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid #375F1B;
    margin: 0 auto;
    padding: auto;
}

#calendar th {
    height: 45px !important;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border-bottom-color: #375F1B;
}

#calendar tbody tr{
    height: 70px;
}

#calendar td {
    height: 70px;
    margin: 0;
    padding: 0;

}

#calendar tr td a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: auto;
    color: black;
    border: 0 solid white;
}

#calendar tr td a:hover {
    text-decoration: none;
    border: 1px solid black;
    transition-duration: 0.3s;
    height: 100%;
}

#calendar tr td a:visited, #calendar tr td a:focus, #calendar tr td a:active {
    text-decoration: none;
}

.cellSummedMinutes {
    display: inline;
}

#pager-div {
    float: right;
    margin: 0 auto;
    width: 20%;
    align-content: center;
}

.pager {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pager button {
    width: 45%;
    background-color: white;
    border: 1px solid #375F1B;
    color: #375F1B;
}

.pager button:hover {
    background-color: #375F1B;
    color: white;
    transition-duration: 0.3s;
}

#previous-month {
    border-radius: 10px 0 0 10px;

}

#next-month {
    /*float: right;*/
    border-radius: 0 10px 10px 0;
}

.actualDate {
    text-align: center;
    color: #375F1B;
    background-color: white;
    margin: 0;
    padding: 10px 0;

    border-radius: 50px 50px 0 0;
    border: 2px solid #375F1B;
    border-bottom-width: 0;
}

.side-bar {
    padding-top: 55px;
    float: left;
    margin: auto;
    width: 15%;
    text-align: center;
}

.monthStatColumn {
    width: 30%;
}

#monthData {
    width: 90%;
    margin: 40px auto;
}

#dayData {
    width: 90%;
    margin: 0 auto;
}

#task-table-div {
    padding-top: 10px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    align-items: center;
}

#task-table {
    table-layout: fixed;
    width: 100%;
    background-color: white;

    border: 2px solid #375F1B;
}

#task-table th {
    text-align: center;
    vertical-align: middle;
    height: 45px;
    border-bottom-color: #375F1B;
}

#task-table td{
    text-align: center;
    vertical-align: middle;
}

#newTaskButton {
    background-color: white;
    border: 1px solid ;
    border-radius: 0;
    width: 50%;
    height: 30px;
    margin: 0 0 10px 0;
}

#newTaskButton:hover {
    background-color: #375F1B;
    color: white;
    transition-duration: 0.3s;

}

.editTaskButton{
    background-color: white;
    border: 1px solid #375F1B;
    border-radius: 0;
    width: 50%;
    height: 25px;
    margin: 0 0 10px 0;
}

.editTaskButton:hover{
    background-color: #375F1B;
    color: white;
    transition-duration: 0.3s;

}

/*Modal*/
#newTaskModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.newTaskModalContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    opacity: 40;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #e0e0e0;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
#newTaskModalHeader {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
#newTaskModalBody {padding: 2px 16px;}


/*Form in modal*/
#newTaskForm{
    text-align: left;
}

#newTaskForm label{
padding: 12px 0 0 5px;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 5px 20px;
    margin-bottom: 10px;
    border: 2px solid #45a049;
    border-radius: 0px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    color: white;
    transition-duration: 0.2s;
}

.container {
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}